
.bottom_nav{
  
  display: flex;
  
  height: 50px;
  justify-content: space-around;
  
}
.bottom_link{
  border: solid;
  height: 45px;
  margin: 1em;
  background: yellow;
  font-size: 20px;
  
}

.text_link{
  text-decoration: none;
  color: black;
  text-align: center;
}
.button_char{
  background: gray;
  border-radius: 3px;
  color: white;
  padding: .5em;
  font-size: 18px;
  grid-row: 4/4;
  grid-column: 2/3;
}
.button_char:hover{
  background: white;
  color: gray;
  

}

.char_name_container{
  grid-row: 1;
  grid-column: 1/4;
}
.char_class_container{
  grid-row: 2;
  grid-column: 1/4;
}
.char_party_container{
  grid-row: 3;
  grid-column: 1/4;
}

.select_char_container{
  border: solid;
  margin: 1em;
  display: grid;
  grid-template:
    [row1-start] "header header header" 1fr [row1-end]
    [row2-start] "main main main" 1fr[row2-end]
    [row3-start] "sub sub sub" 1fr[row3-end]
    [row4-start] ". footer ." 1fr[row4-end]
    / 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  justify-content: center;
  
}


.single_char_container{
  display: flex;
  flex-direction: column;
  margin: .5em;
  font-size: 24px;
 }

 .name_info_container{
  margin: .5em;
  border: dotted;
 }

 .att_container{
  margin: .5em;
  border: dotted;
 }
 .skill_section_container{
  margin: .5em;
  border: dotted;
 }
 .armor_container{
  margin: .5em;
  border: dotted;
 }
 
 .attack_container{
  border: dotted;
  margin: .5em;
 }
 .ind_att_container{
  border-bottom: solid .5px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  font-size: 16px;
  justify-items: center;
 }
 
 .perception{
  margin: .5em;
  border: dotted;
 }
 .prof_container{
  margin: .5em;
  border: dotted;
 }
 .equip{
  margin: .5em;
  border: dotted;
 }
 .trait_container{
  margin: .5em;
  border: dotted;
 }