.single_char_container{
  
}

.char_name_container{
  font-size: 30px;
  margin: 1em;
}
.name_info_container{
  display: flex;
  justify-content: space-between;
}
.char_info_container{
  margin: 1em;
  display: flex;
  justify-content: space-between;
  width: 600px;
  flex-wrap: wrap;
}

.att_skills_armor_container{
  display: flex;
  justify-content: space-around;
}

.att_container {
  margin: 1em;
}

.skill_section_container{
  margin: 1em;
}

.attack_container{
  display: flex;
  border: solid;
  flex-direction: column;
}

.ind_att_container{
  display: flex;
  flex-wrap: wrap;
  width: 300px;
}