
.bottom_nav{
  
  display: flex;
  
  height: 50px;
  justify-content: space-around;
  
}
.bottom_link{
  border: solid;
  height: 45px;
  margin: 1em;
  background: yellow;
  font-size: 20px;
  
}

.text_link{
  text-decoration: none;
  color: black;
  text-align: center;
}
.button_char{
  background: gray;
  border-radius: 3px;
  color: white;
  padding: .5em;
  font-size: 18px;
}
.button_char:hover{
  background: white;
  color: gray;

}

.select_char_container{
  border: solid;
}